<mat-toolbar class="ga-header" color="primary">
  <mat-toolbar-row>
    <div class="ga-margin-1-rem ga-cursor-pointer">
      <mat-icon svgIcon="menu" (click)="sidenav.toggle()"></mat-icon>
      OpenWeather - Angular - Example
      <div class="ga-toolbar-city">
        <mat-icon svgIcon="city"></mat-icon>
        <span [ngClass]="{'ga-action-indicator-black':updatingCity}">
          {{city?.name}}
        </span>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="ga-sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div class="ga-margin-1-rem">
      <button mat-raised-button class="ga-width-100-per" color="primary" (click)="loadCurrentWeather()" [disabled]="updatingCurrentWeather">
        Load Current Weather
      </button>
    </div>

    <div class="ga-margin-1-rem">
      <button mat-raised-button class="ga-width-100-per" color="primary" (click)="loadForecastWeather()" [disabled]="updatingForecastWeather">
        Load Forecast Weather
      </button>
    </div>

    <div class="ga-margin-1-rem">
      <button mat-raised-button class="ga-width-100-per" color="primary" (click)="loadUvIndex()" [disabled]="updatingUvIndex">
        Load UV Index
      </button>
    </div>

    <form class="ga-margin-1-rem">
      <mat-form-field class="ga-width-100-per">
        <input matInput placeholder="Enter new city" [(ngModel)]="newCityName" [ngModelOptions]="{standalone: true}">

        <button mat-button *ngIf="newCityName && newCityName !== city?.name && !updatingCity" matSuffix mat-icon-button
          aria-label="Save" (click)="updateCity()">
          <mat-icon svgIcon="save"></mat-icon>
        </button>

        <button mat-button *ngIf="newCityName" matSuffix mat-icon-button aria-label="Clear" (click)="newCityName=''">
          <mat-icon svgIcon="close"></mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="ga-card-position">
      <span class="ga-display-inline-block">
        <ga-city [initialCityName]="city?.name"></ga-city>
      </span>

      <span class="ga-display-inline-block">
        <ga-weather-current></ga-weather-current>
        <ga-uv-index></ga-uv-index>
      </span>

      <ga-weather-forecast></ga-weather-forecast>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
