<mat-sidenav-container class="ga-sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div class="ga-margin-1-rem ga-cursor-pointer">
      <mat-icon svgIcon="menu" (click)="sidenav.toggle();mainMenuVisible=true;" *ngIf="!mainMenuVisible">
        Menu
      </mat-icon>
    </div>
    <div class="ga-margin-1-rem">
      <button mat-raised-button class="ga-width-100-per" color="primary" (click)="currentWeather()">
        Load Current Weather
      </button>
    </div>
    <div class="ga-margin-1-rem">
      <button mat-raised-button class="ga-width-100-per" color="primary" (click)="forecastWeather()">
        Load Forecast Weather
      </button>
    </div>
    <div class="ga-margin-1-rem">
      <button mat-raised-button class="ga-width-100-per" color="primary" (click)="uvIndex()">
        Load UV Index
      </button>
    </div>
    <form class="ga-margin-1-rem">
      <mat-form-field class="ga-width-100-per">
        <input matInput placeholder="Enter new city" [(ngModel)]="newCity" [ngModelOptions]="{standalone: true}">
        <button mat-button *ngIf="newCity" matSuffix mat-icon-button aria-label="Clear" (click)="newCity=''">
          <mat-icon svgIcon="close"></mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button class="ga-width-100-per" color="primary" (click)="updateCity()" [disabled]="!newCity || newCity===city">
        Update city
      </button>
    </form>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-icon class="ga-margin-1-rem ga-cursor-pointer" svgIcon="menu" (click)="sidenav.toggle();mainMenuVisible=false;"
      *ngIf="mainMenuVisible"></mat-icon>

    <mat-card class="ga-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
