@import '../styles/ga-common';
@import '../styles/ga-variables';

// Header

.ga-header {
  height: $toolbar-height;
}

.ga-toolbar-city {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

// Sidenav Content

.ga-sidenav-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: $toolbar-height;
}

// Cards

.ga-card-position {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
