<mat-sidenav-container class="ga-sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div class="ga-margin-1-rem ga-cursor-pointer">
      <div class="ga-icon-menu-black-fas" (click)="sidenav.toggle();mainMenuVisible=true;" *ngIf="!mainMenuVisible">
        Menu
      </div>
    </div>
    <div class="ga-margin-1-rem">
      <button mat-raised-button class="ga-width-100-per" color="primary" (click)="currentWeather()">Current Weather</button>
    </div>
    <div class="ga-margin-1-rem">
      <button mat-raised-button class="ga-width-100-per" color="primary" (click)="forecastWeather()">Forecast Weather</button>
    </div>
    <div class="ga-margin-1-rem">
      <button mat-raised-button class="ga-width-100-per" color="primary" (click)="uvIndex()">UV Index</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="ga-icon-menu-black-fas ga-margin-1-rem ga-cursor-pointer" (click)="sidenav.toggle();mainMenuVisible=false;"
      *ngIf="mainMenuVisible">
      Menu
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
